/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: $clr-darkblue;
    font-size: 15px;
    padding: 14px 14px;
    font-weight: 700;
    text-transform: capitalize;
    color: $clr-white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: .3s;
}

header.site-header.sticky {
    background: $clr-darkblue;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
}

.site-header .site-nav ul li a.active {
    color: $clr-peach;
}

.site-logo img {
    width: 100%;
    max-width: 160px;
}

.site-nav a {
    padding: 12px 24px !important;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        color: $clr-peach;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}



/*header end*/

/*banner-css-start*/

.home__banner {
    position: relative;
    height: 450px;
    background-image: url(../images/homebanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.home {
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        text-align: center;
        z-index: 2;

        p {
            color: $clr-white;
        }
    }

    &__title {
        padding: 50px 0;

        p {
            text-align: center;
        }
    }
}

.home__texts.home {
    text-align: center;
}
.home__content p{
    text-align: center;
}

/*banner-css-end*/

/*awaits-css-end*/
section.awaits {
    padding: 50px 0;
}

section.choose {
    background: $clr-white;
}

.choose__body {
    text-align: center;
    background: $clr-white;
    padding: 12px 10px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    transition: all 0.5s ease 0s;
    height: 100%;

    h3 {
        font-size: 25px;
        margin: 20px 0;
    }

    p {
        color: $clr-darkblue;
        line-height: 22px;
        font-size: 16px;
    }

}

h3.choose__title {
    text-align: center;
    padding-bottom: 21px;
}

.choose__card {
    height: 100%;
}

.choose__main {
    height: 100%;
    padding-bottom: 20px;
}

/*awaits-css-end*/

/*discover-css-end*/
.row.discover {
    padding-top: 50px;
}

.discover__content {
    padding: 20px;
    margin-bottom: 20px;

}

section.swiss {
    padding: 50px 0;
}

/*discover-css-end*/

/*footer-css-start*/
.footer {
    background: $clr-darkblue;
    padding: 50px 0;

    &__logo {
        img {
            max-width: 160px;
        }
    }

    &__about {
        p {
            font-size: 18px;
            color: $clr-white;
            text-align: left;
        }
    }

    &__links {
        li {
            color: $clr-white;

            & a:hover {
                color: $clr-peach;
            }
        }
    }

    &__mail {
        a {
            color: $clr-white;
            font-size: 18px;

            &:hover {
                color: $clr-peach;
            }
        }

        p {
            color: $clr-white;
            font-size: 18px;
            line-height: 34px;
        }
    }

    .scrl-icons {
        margin-top: 20px;
    }

    .scrl-icons a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $clr-peach;
        color: $clr-white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: $clr-peach;
        font-size: 22px;
        margin: 0 8px;
        text-decoration: none;

        &:hover {
            color: $clr-peach;
            background-color: $clr-white;
            border: 1px solid $clr-white;
        }
    }
}

/*footer-css-end*/

/*casino-hotels-css-start*/
.col-lg-6.col-md-6.col-sm-12.m-0.p-0.down {
    display: -webkit-flex;
}

.casino__banner {
    position: relative;
    height: 350px;
    background-image: url(../images/casinobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.casino {
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        text-align: center;
        z-index: 2;

        p {
            color: $clr-white;
        }
    }

    &__title {
        padding: 50px 0;
    }

    &-btn {
        a {
            background-color: $clr-darkblue;

            &:hover {
                background-color: $clr-peach;
                border-bottom: 4px solid $clr-darkblue;
                border-top: 4px solid $clr-darkblue;
            }
        }
    }

    &card__picture {
        img {
            height: 350px;
            object-fit: cover;
        }
    }
}

section.casino__text {
    padding: 50px 0;
}

.casinobody__cards.righttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 25px;
    padding: 40px 0;
}

.casinobody__cards.lefttext {
    padding-right: 25px;
    margin: 40px 0;
}

.casinotext.about {
    text-align: center;
    padding: 80px 0;
}

/*casino-hotels-css-end*/

/*adventure-css-start*/
.casino__banner.adventure {
    position: relative;
    height: 350px;
    background-image: url(../images/adventurebanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

/*adventure-css-end*/

/*entertainment-css-start*/
.casino__banner.entertainment {
    position: relative;
    height: 350px;
    background-image: url(../images/entertainmentbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.entertainment {
    &__picture {
        overflow: hidden;
        transition: .3s;

        img {
            height: 350px;

            &:hover {
                transform: scale(1.06);
                transition: .3s;
            }
        }
    }

    &card__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.col-lg-6.col-md-6.col-sm-12.down {
    display: -webkit-flex;
}

/*entertainment-css-end*/


/*about-css-start*/
.casino__banner.about {
    position: relative;
    height: 350px;
    background-image: url(../images/aboutbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

/*about-css-end*/

/*contact-css-start*/
section.contact__text {
    padding: 50px 0;
}

.casino__banner.contact {
    position: relative;
    height: 350px;
    background-image: url(../images/contactbanner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 50px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.contact {
    &__information {
        li {
            list-style: disc;

            &::marker {
                color: $clr-peach;
            }
        }

        a {
            color: $clr-black;
        }
    }

    &__sub {
        p {
            font-size: 18px;
            line-height: 25px;
            margin-top: 16px;
        }
    }

    &__content {
        p {
            font-size: 18px;
            line-height: 25px;
            margin-top: 16px;
        }

        li {
            list-style: disc;

            &::marker {
                color: $clr-peach;
            }
        }

    }
}

/*contact-css-end*/



/*# sourceMappingURL=style.css.map */